{% extends 'base.html' %}
{% import "macros.html" as macro %}

{% block content %}
<div class="container p-0">
    <div class="row">
        <div class="col-md-8">
            {{ macro.feedPost() }}
        </div>
        <div class="col-md-4">
            <div class="side-bar">
                <div class="h4 title text-white">Categories</div>
                <div class="category-item">Sales</div>
                <div class="category-item">Proposal</div>
                <div class="category-item">Product</div>
                <div class="category-item">Promotion</div>
                <div class="category-item">Pickup Lines</div>
                <div class="category-item">Interview</div>
                <div class="category-item">Project</div>
                <div class="category-item">Other</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}